<div class="row">
	<div class="col-md-12">

		<h1>New Pending Transaction</h1>

		<%= form_for(@pending_transaction) do |pending_transaction_form| %>

		<%= render 'shared/error_messages', :object =>pending_transaction_form.object %>

		<fieldset>
			<legend>Transaction Information</legend>

			Shortcode: <%= pending_transaction_form.text_field :shortcode %>


		</fieldset>

		<%= pending_transaction_form.submit "Create Pending Transaction" %>
		<% end %>
	</div>
</div>
