<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Quick Balance</h1>
	<p>SMS Shorthand transcription of non-digital transactions.</p>

	<br />
		
	<p><%= button_to "Get Started!", new_user_registration_path, class: 'btn btn-lg btn-success', :method => :get %></p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="col-lg-4">
		<h2>Shorthand Recognition</h2>
		<p>Quickly record transactions using shorthand notation - no need to spell everything out.</p>
		<p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>SMS Support</h2>
		<p>We built Twilio support into this so you can use SMS to keep track of all your transactions!</p>
		<p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Custom Accounts</h2>
		<p>Keep track of multiple accounts and their transactions - easily add your own debtor/creditor into the system!</p>
		<p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
	</div>
</div>

