<div class="row">

  <div class="col-md-12">

    <% if user_signed_in? %>
    <%= render 'pages/dashboard' %>

    <% else %>  
    <%= render 'pages/marketing_home' %>
    <% end %>

  </div>


</div>