<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h1><%= @account.user.first_name.possessive %> <%= @account.name %></h1>

			<%= render 'transactions/transactions_table', transactions: @transactions %>
		</div>
	</div>

</div>